<h1>Listing transfers</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Sender</th>
      <th>Reciever</th>
      <th>Ammount</th>
      <th>Payout</th>
      <th>Transfered at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.id %></td>
        <td><%= transfer.sender_id %></td>
        <td><%= transfer.reciever_id %></td>
        <td><%= transfer.ammount %></td>
        <td><%= transfer.payout %></td>
        <td><%= transfer.transfered_at %></td>
        <td><%= link_to 'Show', transfer %></td>
        <td><%= link_to 'Edit', edit_transfer_path(transfer) %></td>
        <td><%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer', new_transfer_path %>
